#landing-page{
  display: flex;

  #landing-page-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    img{
      width: 30rem;
      border-radius: 30rem;
    }
  }

  #intro{
    margin-right: 3rem;
    border-radius: 1rem;
    padding: 1rem;

    h2{
      margin-top: 2rem;
    }
  }
}