#landing-page{
  display: flex;

  #landing-page-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    img{
      width: 30rem;
      border-radius: 30rem;
      box-shadow: 2px 2px #000000;
    }
  }

  #intro{
    margin-right: 3rem;

    h2{
      margin-top: 2rem;
    }
  }
}